// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  font-style: italic;
  border-left-style: 4px solid gray;
}

.coach{
  font-style: italic;
  background: #FFF6A0;
  border-left-style: 4px solid gray;
}
